<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> MVML </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/info.css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron shaded">
      <div class="container">
        <div class="header text-center">
          <h1>MetaVerse Markup Language</h1>
          <p>
            3D worlds for everyone!
          </p>
        </div>

        <div class="hidden-xs row showcase">
          <div class="pull-left">
            <iframe src="/mvml/spec.mvml" class="img-thumbnail"></iframe>
          </div>
          <div class="pull-right">
            <iframe src="/mvml/spec" class="img-rounded"></iframe>
          </div>
        </div>

        <div class="read-play visible-xs-block btn-group btn-group-lg btn-group-justified">
          <a class="btn btn-default" href="/mvml/spec.mvml">Read it</a>
          <a class="btn btn-primary" href="/mvml/spec">Play it</a>
        </div>

        <div class="subscribe">
          <div class="col-md-3 col-sm-3"></div>
          <div class="col-md-4 col-sm-4">
            <a class="btn btn-primary btn-lg" href="http://eepurl.com/0-ZR1">Get Started</a>
          </div>
          <div class="col-md-2 col-sm-2">
            <a class="btn btn-link btn-lg" href="https://github.com/JScott/mvml">self-hosted</a>
          </div>
          <div class="col-md-3 col-sm-2"></div>
        </div>
      </div>
    </div>
    <section class="why-mvml">
    <div class="container">
      <h1>Why is MVML for me?</h1>
      <p class="lead">
        <a class="other-options" data-toggle="popover" data-placement="bottom">Many frameworks</a>
        provide one-off 3D web experiences and proprietary 3D browsers.<br>
        MVML specializes in helping you build and share a network of first-person worlds.
      </p>
      <div class="row">
        <div class="col-md-4">
          <h2>Portable</h2>
          <ul>
              <li>Renders in your favourite browser</li>
              <li>Built with mobile in mind</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Accessible</h2>
          <ul>
            <li>Easy for non-technical artists to write</li>
            <li>A consistent first-person experience</li>
          </ul>
       </div>
        <div class="col-md-4">
          <h2>Robust</h2>
          <ul>
            <li>Built on Open Source web dev libraries</li>
            <li>Exposes JS for advanced scripting</li>
          </ul>
        </div>
      </div>
    </div>
    </section>
    <section class="getting-started shaded">
      <div class="container">
        <h1>Getting Started</h1>
        <p>
          MVML isn't natively supported by browsers so it needs to be parsed into HTML/JS.
          You can utilize our API or host your own MVML parsing server to do this for you.
        </p>
        <h2>Quick</h2>
        <p>
          The easiest way to utilize this is to make an API request via JavaScript.
          <a href="https://gist.github.com/JScott/06157326c997500a91b8">These examples</a>
          show you how to have the JavaScript do the API call for you and edit MVML in-line
          or in another file.
        </p>
        <h2>Advanced</h2>
        <p>
          If you have access to server-side code you can also make a call from there.
          <a href="https://gist.github.com/JScott/e396897ffb61d62e7b99">These examples</a>
          show how I do it for this very page in NodeJS.
          It should be pretty similar across frameworks.
        </p>
      </div>
    </section>
      <hr>
    <footer>
      <div class="container">
        <p>&copy; Justin Scott 2014</p>
      </div>
    </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var content = "<a href='http://janusvr.com/'>JanusVR</a><br>";
        content += "<a href='http://secondlife.com/'>Second Life</a><br>";
        content += "<a href='http://unity3d.com/'>Unity3D</a><br>";
        content += "<a href='http://www.x3dom.org/'>X3DOM</a>";
        $('a.other-options').popover({
          html: true,
          content: content
        });

        var http = new XMLHttpRequest();
        var url = "/api-js.html";
        http.open("GET", url, true);

    http.onreadystatechange = function() {
      if(http.readyState == 4 && http.status == 200) {
        $('.api-js').text(http.responseText);
      }
    }
    http.send();
      });
    </script>
  </body>
</html>
