body {
  //padding: 50px 0 20px 0;
}

div.showcase {
  padding: 0 30px 20px 30px;
}
div.showcase div {
  width: 50%;
  height: 300px;
  padding: 0;
}

form.subscribe,
a.self-host {
  margin: 30px 0 0 0;
}

.showcase iframe,
form.subscribe .form-group,
form.subscribe .input-group {
  width: 100%;
  height: 100%;
}
