<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Edit Space</title>
  <link rel="stylesheet" href='/css/main.css'>
</head>
<body>
  <form action='/edit/<%= mvml.id %>' method='post' class='mvml_edit'>
    <div class='data'>
	    <p class='name'>Editing <input type='text' name='name' class='name' value='<%= mvml.name %>'></p>
    	<p class='revision'>rev. <%= mvml.rev %></p>
      <input type='submit' value='Save'>
    </div>
    <div class='mvml'>
      <textarea class='mvml' name='mvml'><%= mvml.mvml %></textarea>
    </div>
    <!-- TODO: only allow valid, linted YAML/MVML -->
  </form>
</body>
</html>
